<div class="container" id="formSessions">
  <div class="row">
    <div class="col-md-12">
      <h1>Sign In</h1>
    </div>
  </div>
  <%= form_tag sessions_path, validate: true  do %>
  <div class="row">
    <div class="col-4md-4" id="email">
      <%= label_tag :email %>
    </div>
    <div class="col-md-4">
      <%= email_field_tag :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= submit_tag "Log In" %>
    </div>
  </div>
  <% end %>
</div>
