<p>this will be the form</p>

<%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.association :category %>
    <%= f.association :tags, as: :check_boxes%>
    <%= f.button :submit %>
<% end %>
