<div id="formPost">
  <div class="container">
    <%= simple_form_for @post, html: {multipart: true} do |f| %>
      <%= image_tag(@post.image_url) if @post.image? %>
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.input :image %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
