
<div class="jumbotron">
  <div class="container">
    <div class="main">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :title_cont, "title contains" %>
      <%= f.text_field :title_cont %>
    </div>
      <%= f.submit "Search" %>
  <% end %>
  </div>
</div>
<div class="container"  >
  <div class="text-center">
    <div class="row">
    <% @posts.each do |post| %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="thumbnail img-thumbnail">
          <div class="postImage">
            <% if post.image.present?  %>
              <%= image_tag post.image_url(:medium), class: 'img-responsive img-thumbnail', style: 'width:200px;' 'height:100px' %>
            <% end %>
          </div>
          <div class="caption">
            <h3><%= link_to post.title, post_path(post) %></h3>
            <p><%= post.body.truncate(200, omission: '.......') %></p>
            <%= link_to "Read more",post_path(post), class: "btn btn-md btn-default"  %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
          </div>
          <div class="fav-container">
            <% if user_signed_in? && post.favourited_by?(current_user) %>
              <%= link_to  post_favourite_path(post, post.favourite_for(current_user)), class: "icon-unfav" ,method: :delete do %>
                <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <%= link_to post_favourites_path(post) ,class: "icon-fav",method: :post do%>
                <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <a class="twitter-share-button" href="https://twitter.com/share" data-via="GhettoLifeHack_" data-url="" data-text="asdf comment body" data-hashtags="ghettolifehack">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
            </a>
            <a class="twitter-share-button" href="https://facebook.com/share" data-via="GhettoLifeHack_" data-url="" data-text="asdf comment body" data-hashtags="ghettolifehack">
            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="digg_pagination">
  <%= will_paginate @posts, :container => false %>
  </div>
</div>

<div clas="container">
  <div class="row">

  </div>
</div>
