
<% if flash[:notice] %>
    <%= flash[:notice]  %>
<% elsif flash[:alert] %>
    <%= flash[:alert] %>
<% end  %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <% if @post.image.present? %>
        <%= image_tag @post.image_url(:medium), class: 'postImage' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1><%= @post.title %></h1>
    </div>
  </div>
</div>

<h2>Create A Comment</h2>
<div id="comment-form">
  <%= render "/comments/form" %>
</div>
<h2>All Comments</h2>
<div id="comments">
  <% @post.comments.each do |comment| %>
    <%= render "/comments/comment", comment: comment %>
  <% end  %>
</div>
