
<% if flash[:notice] %>
    <%= flash[:notice]  %>
<% elsif flash[:alert] %>
    <%= flash[:alert] %>
<% end  %>
<div class="container text-center">
  <div id="postShowDes">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="postTitleShow"><%= @post.title %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="imageCon">
          <% if @post.image.present? %>
            <%= image_tag @post.image_url(:large), class: 'img-responsive img-thumbnail postShowImage' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p id="postShowBody"><%= @post.body %></p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if user_signed_in? && @post.favourited_by?(current_user) %>
          <%= link_to post_favourite_path(@post, @post.favourite_for(current_user)), class: "icon-unfav" ,method: :delete do %>
          <i class="fa fa-heart fa-2x" aria-hidden="true"></i><br><span>Unfavourite</span>
          <% end %>
        <% else %>
          <%= link_to post_favourites_path(@post) ,class: "icon-fav",method: :post do%>
          <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i><br><span>Favourite</span>
          <% end %>
        <% end %>
        <a class="twitter-share-button" href="https://twitter.com/share" data-via="GhettoLifeHack_" data-url="" data-text="asdf comment body" data-hashtags="ghettolifehack">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a class="twitter-share-button" href="https://facebook.com/share" data-via="GhettoLifeHack_" data-url="" data-text="asdf comment body" data-hashtags="ghettolifehack">
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-3">
        <div id="comment-form">
          <%= render "/comments/form" %>
        </div>
      </div>
      <div class="col-md-3 ">
        <div id="comments">
          <% @post.comments.each do |comment| %>
            <%= render "/comments/comment", comment: comment %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
