
<% if flash[:notice] %>
    <%= flash[:notice]  %>
<% elsif flash[:alert] %>
    <%= flash[:alert] %>
<% end  %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <% if @post.image.present? %>
        <%= image_tag @post.image_url(:medium), class: 'postImage' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1><%= @post.title %></h1>
    </div>
  </div>
</div>

<h2>Create A Comment</h2>
<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.input :body %>
  <%= f.button :submit %>
<% end %>

<h2>All Comments</h2>

<% @post.comments.each do |com| %>
  <p><%= com.body %> |
  <%= link_to "Edit", edit_post_comment_path(@post, com) %>
  <%= link_to "Delete", post_comment_path(@post, com),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %></p>
<% end  %>
