
<div class="container">
  <div id="postShowDes">
    <div class="row">
      <div class="col-md-12 ">
        <h1 class="postTitleShow"><%= @post.title %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <% if @post.user.picture.present? %>
          <%= image_tag @post.user.picture_url(:thumb), class: 'img-responsive img-circle userImage' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3><span>by:</span> <%= @post.user.full_name %></h3><hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="postDate"><spa>Posted on </span><%= @post.post_time %></h4><hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="imageCon">
          <% if @post.image.present? %>
            <%= image_tag @post.image_url(:large), class: 'img-responsive img-thumbnail postShowImage' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p id="postShowBody"><%= @post.body %></p>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="well col-md-12">
      <div id="comment-form">
        <%= render "/comments/form" %>
      </div>
    </div>
  </div>
  <div class='row'>
    <hr>
    <div class="col-md-12">
      <div id="comments">
        <% @post.comments.each do |comment| %>
          <%= render "/comments/comment", comment: comment %>
          <% end %>
      </div>
    </div>
  </div>
</div>
