<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "About", about_path %>
    |
    <%= link_to "Add new post", new_post_path %>
    |
    <%= link_to "All posts" , posts_path %>
    <!-- |
     <%# #link_to "Add category", new_category_path%>
    |
     <%# #link_to "All categories" ,categories_path%>
    |
    <%# #link_to "contact list", new_contact_path %>
    |
    <%# #link_to "contact info",contacts_path %>
    | -->
    <% if user_signed_in? %>
        Hello, <%= current_user.first_name %>
        <%= link_to "Sign Out", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "sign up" ,new_user_path%>
      <%= link_to "sign in" ,new_session_path%>
    <% end %>
  </nav>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% elsif flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>

<%= yield %>

</body>
</html>
