<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "About", about_path %>
    |
    <%= link_to "Add new post", new_post_path %>
    |
    <%= link_to "All posts" , posts_path %>
    |
    <%= link_to "Add comment", new_comment_path %>
    |
    <%= link_to "All comments", comments_path %>
    |
    <%= link_to "Add category", new_category_path%>
    |
    <%= link_to "All categories" ,categories_path%>
    |
    <%= link_to "contact list", new_contact_path %>
    |
    <%= link_to "contact info",contacts_path %>
  </nav>


<%= yield %>

</body>
</html>
